# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc

/node_modules

.vscode/
.idea/

.angular/cache

.DS_Store
Thumbs.db
